.header {
  position: sticky;
  top: 0px;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(23, 30, 34, 1);
  color: rgba(225, 225, 225, 1);
  padding: 2rem;
  align-items: center;
  gap: 2rem;
}

.header-title {
  font-size: 1.2em;
  line-height: 1.1;
  font-weight: bold;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.nav-item {
  font-size: 1.4em;
  line-height: 1.1;
  font-weight: bold;
}

.nav-item:hover {
  cursor: pointer;
  text-decoration: underline;
}
