.header {
  position: sticky;
  top: 0px;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(21, 26, 30, 0.918);
  color: rgba(233, 233, 233, 0.918);
  padding: 2rem;
  align-items: center;
}

.header-title {
  font-size: 1.2em;
  line-height: 1.1;
  font-weight: bold;
}
